/* リセットCSS */
/* * {
  box-sizing: border-box;
}

html,
body,
ul,
li,
h1,
h2,
p,
div {
  margin: 0;
  padding: 0;
} */

body {
  font-family: "Noto Sans JP", "Hiragino Kaku Gothic ProN W3", sans-serif;
  color: #3b4043;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

a {
  text-decoration: none;
  color: #3b4043;
}

html {
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: rgb(106, 182, 150);
}

.toppage {
  background: #c6f8e1;
  color: black;
  text-align: center;
}

.seid {
  display: flex;
}

h1 {
  color: rgb(71, 247, 115);
  font-size: 50px;
  margin: 0 0 30px 0;
  /* background: rgb(130, 216, 180);
  box-shadow: 0px 0px 0px 5px rgb(144, 211, 183);
  border: dashed 2px white;
  padding: 0.2em 0.5em; */
}

.thead-light {
  padding: 0.5em;/*文字周りの余白*/
  color: rgb(83, 168, 133);/*文字色*/
  /* background: #fffaf4; */
  border-left: solid 5px yellowgreen;/*左線（実線 太さ 色）*/
}

.schedule {
 color: rgb(106, 182, 150);
}

.tbody-light {
  color: rgb(106, 182, 150);
}

.form-tag {
  padding: 0.5em;/*文字周りの余白*/
  color: yellowgreen;/*文字色*/
  background: #fffaf4;/*背景色*/
  /* border-left: solid 5px yellowgreen;左線（実線 太さ 色） */
}

.col-md-8 {
  width: 100%;
}

.day {
  color: rgb(36, 33, 33);
}

.plan {
  color: black;
}



/* _month  */

.table-striped {
  color: rgb(106, 182, 150);
}

.calendar-heading {
  color: yellowgreen;
}




