
body {
  font-family: "Noto Sans JP", "Hiragino Kaku Gothic ProN W3", sans-serif;
  color: black;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

a {
  text-decoration: none;
  color: #3b4043;
}

html {
  height: 100%;
  width: 100%;
}

body {
  padding: 0;
  height: 100%;
  width: 100%;
}

p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #3b4043;
}

.toppage {
  background: #9bc4f7;
  color: pink;
  text-align: center;
  height: 100%;
  width: 100%;
}

.seid {
  display: flex;
}

h1 {
  color: white;
  font-size: 50px;
  margin: 0 0 30px 0;
  /* background: rgb(130, 216, 180);
  box-shadow: 0px 0px 0px 5px rgb(144, 211, 183);
  border: dashed 2px white;
  padding: 0.2em 0.5em; */
}

.thead-light {
  padding: 0.5em;/*文字周りの余白*/
  color: #3b4043;/*文字色*/
  /* background: #fffaf4; */
  border-left: solid 5px yellowgreen;/*左線（実線 太さ 色）*/
}

.schedule {
 color: #3b4043;
}

.tbody-light {
  color: #3b4043;
}

.form-tag {
  padding: 0.5em;/*文字周りの余白*/
  color: rgb(133, 164, 248);/*文字色*/
  background: #fffaf4;/*背景色*/
  /* border-left: solid 5px yellowgreen;左線（実線 太さ 色） */
}

.col-md-8 {
  width: 100%;
}

.day {
  color: #3b4043;
}

.plan {
  color: black;
}



/* _month  */

.table-striped {
  color: white;
}

.calendar-heading {
  color: white;
}





